{% extends 'base.student.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}

    <!-- Breadcrumb Starts Here -->
    <div class="event-sub-section event-sub-section--spaceY eventsearch-sub-section">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb align-items-center bg-transparent p-0 mb-0">
                    <li class="breadcrumb-item">
                        <a href="/student" class="fs-6 text-secondary">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/student" class="fs-6 text-secondary">Course</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Breadcrumb Ends Here -->

    <!-- Event Search Starts Here -->
    <section class="section event-search">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="accordion sidebar-filter" id="sidebarFilter">
                        <!-- Category  -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="categoryAcc">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse" aria-expanded="true" aria-controls="categoryCollapse">
                                    category
                                </button>
                            </h2>
                            <div id="categoryCollapse" class="accordion-collapse collapse show" aria-labelledby="categoryAcc" data-bs-parent="#sidebarFilter">
                                <div class="accordion-body">
                                    <form action="#">
                                        <div class="accordion-body__item">
                                            <div class="check-box">
                                                <input type="checkbox" class="checkbox-primary" />
                                                <label> All </label>
                                            </div>
                                            <p class="check-details">
                                                1
                                            </p>
                                        </div>
                                        <div class="accordion-body__item">
                                            <div class="check-box">
                                                <input type="checkbox" class="checkbox-primary" />
                                                <label> Catégorie Test </label>
                                            </div>
                                            <p class="check-details">
                                                1
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="event-search-results">
                        <div class="event-search-results-heading">
                            <button class="button button-lg button--primary button--primary-filter d-lg-none" id="filter">
                                    <span>
                                        <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.3335 14.9999V9.55554" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M3.3335 6.4444V1" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M9.55469 14.9999V8" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M9.55469 4.88886V1" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M15.7773 14.9999V11.1111" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M15.7773 7.99995V1" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M1 9.55554H5.66663" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M7.22217 4.88867H11.8888" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M13.4443 11.1111H18.111" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </span>
                                Filter
                            </button>
                        </div>
                    </div>
                    <div class="row event-search-content">
                        {% for course in courses %}
                            {% set formattedFirstname = course.instructor.firstname|lower|capitalize %}
                            {% set formattedLastname = course.instructor.lastname|lower %}
                            {% set abbreviatedLastname = formattedLastname|slice(0, 1) ~ '.' %}
                        <div class="col-md-6 mb-4">
                            <div class="contentCard contentCard--course">
                                <div class="contentCard-top">
                                    <a href="course-details.html"><img src="../assets/css/dist/images/courses/demo-img-04.png" alt="images" class="img-fluid" /></a>
                                </div>
                                <div class="contentCard-bottom">
                                    <h5>
                                        <a href="/course/{{ course.id }}" class="font-title--card">{{ course.title }}</a>
                                    </h5>
                                    <p>
                                        {{ course.description }}
                                    </p>
                                    <div class="contentCard-info d-flex align-items-center justify-content-between">
                                        <a href="instructor-profile.html" class="contentCard-user d-flex align-items-center">
                                            <img src="{{ course.instructor.avatarUrl }}" alt="client-image" class="rounded-circle" style="width: 30px;">
                                            <p class="font-para--md">{{ formattedFirstname }} {{ abbreviatedLastname }}</p>
                                        </a>
                                    </div>
                                    <div class="contentCard-more">
                                        <div class="book d-flex align-items-center">
                                            <div class="icon">
                                                <img src="../assets/css/dist/images/icon/book.png" alt="location" />
                                            </div>
                                            <span>37 vidéo</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="filter-sidebar">
        <div class="filter-sidebar__top">
            <button class="filter--cross">
                <svg width="20" height="19" viewBox="0 0 20 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.5967 4.59668L5.40429 13.7891" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M5.40332 4.59668L14.5957 13.7891" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
        </div>

        <form action="#">
            <div class="filter-sidebar__wrapper">
                <div class="accordion sidebar-filter" id="sidebarFilter">
                    <!-- Category  -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="categoryAcc">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse" aria-expanded="true" aria-controls="categoryCollapse">
                                category
                            </button>
                        </h2>
                        <div id="categoryCollapse" class="accordion-collapse collapse show" aria-labelledby="categoryAcc" data-bs-parent="#sidebarFilter">
                            <div class="accordion-body">
                                <form action="#">
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" />
                                            <label> All </label>
                                        </div>
                                        <p class="check-details">
                                            1
                                        </p>
                                    </div>
                                    <div class="accordion-body__item">
                                        <div class="check-box">
                                            <input type="checkbox" class="checkbox-primary" />
                                            <label> Catégorie Test </label>
                                        </div>
                                        <p class="check-details">
                                            1
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <button class="button button-lg button--primary button--primary-filter w-100 d-lg-none" type="button">
                <span>
                    <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.3335 14.9999V9.55554" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M3.3335 6.4444V1" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M9.55469 14.9999V8" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M9.55469 4.88886V1" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M15.7773 14.9999V11.1111" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M15.7773 7.99995V1" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M1 9.55554H5.66663" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M7.22217 4.88867H11.8888" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M13.4443 11.1111H18.111" stroke="white" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
            Apply
        </button>
    </div>
{% endblock %}
