{% extends 'layout.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="hero-without-image">
        <div class="container">
            <div class="hero-wrapper-two"><img src="../assets/images/Hero-text.svg" loading="lazy" width="656" alt="" class="image"></div>
        </div>
    </section>
    <section class="section-3">
        <div class="main">
            <div class="artistedumoment">
                <h1 class="heading-3">Artistes Du Moment</h1>
                <div class="w-layout-grid grid">
                    {% for user in users %}
                        {% set formattedFirstname = user.firstname|lower|capitalize %}
                        {% set formattedLastname = user.lastname|lower %}
                        {% set abbreviatedLastname = formattedLastname|slice(0, 1) ~ '.' %}
                        <a href="/profile/{{ user.token }}">
                            <div id="w-node-_44f5fca2-fbee-a87b-4e62-f902ac4b0864-5ed0f8f5" class="div-block-4">
                                <img src="../{{ user.avatarUrl }}" loading="lazy" id="w-node-bd8f7e90-ab8d-7bac-3f8d-5bb7f4493443-5ed0f8f5" alt="" class="image-2">
                                <div class="text-block">{{ formattedFirstname }} {{ abbreviatedLastname }}</div>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="div-block"></div>
            <div class="artistedumoment">
                <h1 class="heading-3">Dernière Création</h1>
                <div class="w-layout-grid grid">
                    {% for i in 0..4 %}
                        <a href="#">
                            <div id="w-node-ab875b5e-6bde-c7ad-b470-64899234d789-5ed0f8f5" class="div-block-4"><img src="../assets/images/creation{{ i }}.png" loading="lazy" id="w-node-ab875b5e-6bde-c7ad-b470-64899234d78a-5ed0f8f5" alt="" class="image-2"></div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}